* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    height: auto;
    width: 100%;
    background-color: grey;
}

header{
    height: 10vh;
    width: 30%;
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container2 {
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.container {
    height: 400px;
    width: 30%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

@media screen and (max-width:580px) {

    body {
        justify-content: center;
        align-items: center;
        background-color: grey;
        width: 15%;
    }
}

.bot {
    background-color: black;
    padding-bottom: 13px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.bot h2 {
    text-align: center;
    color: green;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    font-size: 30px;
}

.container2_details{
height: 90vh;
width: 30%;
display: flex;
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background.jpg);
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
border-radius: 20px;
}

.imagess {
    margin-bottom: 180px;
    display: flex;
    justify-content: center;
}

.imagess img{
    height: 30%;
    width: 100%;
}


@media screen and (max-width:400px){  
    .bot {
        background-color: black;
        padding-bottom: 10px;
    }
    
    .bot h2 {
    text-align: center;
    font-size: 15px;
    }
   
}

form{
    height: 50vh;
    width:100%;
     position: relative;
    bottom: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 70px;
    gap: 30px;
}

#dropdowninput{
    background-color: #2A2D33;
    background: #2A2D33;
    height: 5vh;
    width: 18%;
    border-radius: 10px;
    color: #fff;
    margin-right: 150px;
}

 input,#dropdowninput,#drop{
    padding: 10px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:100px){
    .container2_details{
        height: 120px;
        width: 10%;
        }  
 
    #dropdowninput{
        width: 10%;
        margin-right: 200px;
        font-size: 10px;
    }
    input,#dropdowninput,#drop{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
#drop{
    display: flex;
    background-color: black;
    color: #fff;
    background: #2A2D33;
    border-radius: 10px;
    height: 5vh;
    width: 18%;
    text-transform: capitalize;
    margin-right: 150px;
}

#dropdowninput2{
    background-color: black;
    border-radius: 10px;
    height: 5vh;
    width: 18%;
    margin-right: 150px;
    background: #2A2D33;
    color: #fff;
}

@media screen and (max-width:500px) {
    #dropdowninput{
        background-color: #2A2D33;
        background: #2A2D33;
        justify-items: center;
        align-items: center;
        width: 8%;
        margin-left: 40px;
    }  
    #drop{
        display: flex;
        height: 5vh;
        width: 5%;
        margin: 20px;
        padding: 5px;
    } 

    button {
      width: 10%;
        margin-left: 180px;
        font-size: 5px;
      }
      
    a{
        color: #fff;
    }
}

button {
    padding: 5px 15px;
    margin-left: -180px;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #4E5B6E;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }
  
a{
    color: #fff;
}
